IMAGE=nvcr.io/nvidia/isaac-sim:5.1.0
# Базовая папка на хосте для кешей/конфигов/логов (абсолютный путь или относительный от docker/*.yml)
ISAAC_ROOT=../tmp
# Имя контейнера
CONTAINER_NAME=isaac-sim
# Для GUI-режима. DISPLAY автоматически берётся из хоста, но можно переопределить
# DISPLAY=:0
# Пользователь в контейнере (по умолчанию root, чтобы избежать проблем с правами Isaac Sim)
ISAAC_USER=0:0