[submodule "services/orchestrator"]
	path = services/orchestrator
	url = https://github.com/deneal123/AgentsSwarm.git
	branch = orchestrator
[submodule "services/nvidia_issac_simulation"]
	path = services/nvidia_issac_simulation
	url = https://github.com/deneal123/AgentsSwarm.git
	branch = nvidia_issac_simulation
[submodule "services/ros_msp_service"]
	path = services/ros_msp_service
	url = https://github.com/deneal123/AgentsSwarm.git
	branch = ros_msp_service
[submodule "services/vllm_service"]
	path = services/vllm_service
	url = https://github.com/deneal123/AgentsSwarm.git
	branch = vllm_service
[submodule "services/smolvla_tools"]
	path = services/smolvla_tools
	url = https://github.com/deneal123/AgentsSwarm.git
	branch = smolvla_tools
[submodule "services/robot_edge"]
	path = services/robot_edge
	url = https://github.com/deneal123/AgentsSwarm.git
	branch = robot_edge
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/deneal123/AgentsSwarm.git
	branch = frontend
[submodule "services/data_storage_service"]
	path = services/data_storage_service
	url = https://github.com/deneal123/AgentsSwarm.git
	branch = data_storage_service
