VLLM_MODEL_NAME
VLLM_MODEL_DTYPE
VLLM_MAX_MODEL_LEN
VLLM_GPU_MEMORY_UTILIZATION

VLLM_HOST
VLLM_PORT
VLLM_API_KEY

VLLM_DATA_PARALLEL_SIZE
VLLM_DATA_PARALLEL_RANK
VLLM_DATA_PARALLEL_ADDRESS
VLLM_DATA_PARALLEL_RPC_PORT
VLLM_DATA_PARALLEL_SIZE_LOCAL

VLLM_TENSOR_PARALLEL_SIZE
VLLM_MAX_NUM_SEQS