
# Cuopt port
CUOPT_PORT=5050

# Mission control port
MC_PORT=8050

# Configuration directory
CONFIG_DIR=./config

# Docker images
WPG_IMAGE=nvcr.io/nvidia/isaac/swagger:03102026
MISSION_CONTROL_IMAGE=nvcr.io/nvidia/isaac/mission-control:4.3.0-amd64
CUOPT_IMAGE=nvidia/cuopt:25.8.0-cuda12.8-py3.12

# Mission Control adress
MISSION_CONTROL_HOST=195.225.110.91

# waypoint selection ui
WAYPOINT_HOST=0.0.0.0
WAYPOINT_PORT=8051